{% extends "auctions/layout.html" %}

{% block body %}

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <h2>Category: {{category}}</h2>
    <br>

    {% for auction, price in filtered_auctions %}
    <a href="{% url 'auction' auction.id %}" class="auction_link">
        <div class="card">
            <div class="row">
                <div class="col-md-4 d-flex justify-content-center align-self-center">
                    <img src="{{auction.image}}" alt="{{auction.title}}">
                </div>
                <div class="col-md-8">
                    <h3>{{auction.title}}</h3>
                        <h5>Price: ${{price}}</h5>
                        <p>{{auction.description}}</p>
                        <p>Seller: {{auction.user}}</p>
                </div>
            </div>
        </div>
    </a>
    <br>
    {% endfor %}
{% endblock %}